@use "../sass/partials" as *;

/* ------- General style ------- */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    background-color: $primary-color;
    font-family: $font-family;
}

/* ------- Counter - general style  ------- */
.counter {
    min-width: 70%;
    min-height: 70%;
    background-color: $tertiary-color;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0.313rem;

    div {
        margin: auto;
    }
}

/* ------- Counter - display number ------- */

.display-number {
    background: $primary-color;
    color: $secondary-color;
    width: 80%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0.313rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 2rem;
}

/* ------- Counter - button's section ------- */

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
}

button {
    height: 3rem;
    width: 3rem;
    background: $primary-color;
    color: $secondary-color;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.button-increment {
    transition: $transition-time ease-in-out;

    &:hover {
        transform: translateY(-2px);
    }

    &:focus {
        background-color: $primary-color-inverse;
        color: $tertiary-color;
    }
}

.button-reset {
    transition: $transition-time ease-in-out;

    &:hover {
        transform: translateY(-2px);
    }

    &:focus {
        background-color: $primary-color-inverse;
        color: $tertiary-color;
    }
}

.button-decrement {
    transition: $transition-time ease-in-out;

    &:hover {
        transform: translateY(-2px);
    }

    &:focus {
        background-color: $primary-color-inverse;
        color: $tertiary-color;
    }
}
/* ------- Counter - name's container ------- */

.counter-name-container {
    color: $primary-color;
    font-size: 0.75rem;
}


/* ------- Mediaquery ------- */

@import "../sass/partials/mediaquery";